<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%> 
<body>
	<h1><%= title %> </h1>
	<%- include('./partials/header')%>
	<img src="/images/node.jpg" width="60%">

	<div class="container">
		<div class="row">
			<form action="/admin" method="GET">
				<div>
					<label for="">User</label>
					<input type="text" name="user" id="user" placeholder="nombre de usuario">
				</div>
				<button type="submit">Check</button>
			</form>
		</div>
	</div>
</body>
</html>